@model IEnumerable<Course>

<h2>Kurs Listesi</h2>
<hr>
<a href="/Course/Create" class="btn btn-success">Kurs Ekle</a>
<hr>
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width: 195px;">@Html.DisplayNameFor(c => c.courseID)</th>
            <th style="width: 195px;">@Html.DisplayNameFor(c => c.courseName)</th>
            <th style="width: 195px;">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
            <tr>
                <td>@Html.DisplayFor(modelItem => item.courseID)</td>
                <td>@Html.DisplayFor(modelItem => item.courseName)</td>
                <td>
                    <a asp-controller="Course" asp-action = "Edit" asp-route-id="@item.courseID" class="btn btn-sm btn-success">Bilgileri Düzenle</a>

                    <a asp-controller="Course" asp-action="Delete" asp-route-id="@item.courseID" class="btn btn-sm btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>